aws_region            = "us-east-1"
availability_zone_1   = "us-east-1a"
availability_zone_2   = "us-east-1b"
bastion_instance_type = "t3.micro"
web_instance_type     = "t3.micro"
db_instance_type      = "t3.small"
key_pair_name         = "your-key-pair-name"
my_ip_address         = "YOUR_IP_HERE/32"
web_server_password   = "YourPasswordHere"
